:root {
  --text-color: #343a40;
  --background-color: #f8f9fa;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  display: flex;
  justify-content: center;
}

body {
  color: var(--text-color);
  background-color: var(--background-color);
  width: 100vw;
}

ul {
  list-style: none;
}

input {
  margin-right: 10px;
}

h1 {
  text-align: center;
  margin: 50px 0;
}

.element {
  width: 60vw;
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
}
